body {
    margin: 0;
    text-align: center;
}

.score {
    background: #080001;
    font-size: 90px;
    color: #F94F6D;
    width: 120px;
    margin: 20px;
}

.container {
    display: flex;
    justify-content: space-around;

    background: #1B244A;
    max-width: 80%;
    margin: auto;
}

button {
    background: none;
    width: 45px;
    border: 3px;
}
