@font-face {
    font-family: "CursedTimer";
    src: url(CursedTimerUlil-Aznm.ttf);
}

body {
    margin: 0;
    text-align: center;
}

.score {
    font-family: "CursedTimer";
    background: #080001;
    font-size: 90px;
    color: #F94F6D;
    width: 155px;
    height: 120px;
    margin: 20px;
    border: 3px solid #080001;
    border-radius: 5px;
}

.container {
    display: flex;
    justify-content: space-around;
    font-family: Verdana, bold;
    font-size: 40px;
    color: #EEEEEE;
    background: #1B244A;
    width: 575px;
    height: 385px;
    margin: auto;
}

button {
    font-family: "CursedTimer";
    font-size: 18px;
    background: none;
    width: 45px;
    height: 45px;
    border: 2px solid #9AABD8;
    color: #9AABD8;
    border-radius: 5px;
}
